.container {
  width: 50%;
  margin: 15% auto;
  border: 1px solid #000;
}
.row div {
  display: inline-block;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
}
.button {
  height: 50px;
  width: 50px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
